{% load staticfiles %}
{% load my_app_filter %}
<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'myregister/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'myregister/css/tabs.css' %}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>FreePL Home</title>
<script type='text/javascript' src="{% static 'myregister/js/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'myregister/js/jquery-migrate-1.2.1.js' %}"></script>
<script type="text/javascript" src="{% static 'myregister/js/waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'myregister/js/jquery.mCustomScrollbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'myregister/js/start.js' %}"></script>



<script type="text/javascript">	

$(document).ready(function() {
	//initialising conditions for the tabs
	$("#contentB").hide();
	$("#contentC").hide();
	$("#contentD").hide();
	$("#contentE").hide();
	$( "div.fixturecontent" ).hide();
	var wdth=$(window).innerWidth();
	$('.fr').css("width","wdth");



//function for the logout button
	$("#logoutbtn").click(function() {
		console.log("logout");
		$.ajax({
			url : "/dummylogout",
			type : "POST",
			dataType: "json",
			data : {
					csrfmiddlewaretoken: '{{ csrf_token }}'
					},
			success : function(hill) {
				console.log(hill.server_response);
				location.href="/";
			},
			error : function(xhr,errmsg,err) {
			alert(xhr.status + ": " + xhr.responseText);
			}
		});
	return false;
	});

var st=$('.sticky').offset().top;
var stik=function() {
var scrollTop=$(window).scrollTop();
if(scrollTop>st){
	$('.sticky').addClass("stuck");}
else{
$('.sticky').removeClass("stuck");}
};

stik();
$(window).scroll(function() {
	stik();
});

$('.lockteam').click(function() {
	$('.allplayer').css("margin-top","20px");
});


	//function for the tab change feature
	$(".tab").click(function()
	{
		$(".active").removeClass("active");
		$(this).addClass("active");
		var alph=$(this).attr("id");
		console.log(alph);
		$(".tabcontent").hide();
		$("#content"+alph).show();
		return false;
	});
	
	//function for fixture submenu click
	$("li.fixture").click(function(){

		//$("td.clickablepl").attr("style","background:;");
		//should be getting rid of this hack!!!!
		var fid=$(this).attr("id");
		$("div.tabcontent").hide();
		$("div.fixturecontent").hide();
		$("#contentA").show();
		$("li.tab").removeClass("active");
		$("li#A").addClass("active");
		$("#f"+fid).show();
		//$( "div.fixturecontent" ).show();
		console.log(fid);
		return false;
	});
	
	//function for clickablepl
	$("tr.clickablepl").click(function(){
		//complement the color
		if($(this).attr("style")=="background:;")
		{
			$(this).attr("style","background:white;");
			$(this).children("td.powerornot").attr("style","background:white;");
		}
		else
		{	
			$(this).attr("style","background:;");
			$(this).children("td.powerornot").attr("style","background:;");
		}
		//do the checking and update error displaying 
		var fid=$(this).parents('div.fixturecontent').attr("id");
		var totalprice=0;
		var totalbat=0;
		var totalbowl=0;
		var totalwk=0;
		var totalallround=0;
		var teamA="";
		var teamB="";
		var Acount=0;
		var Bcount=0;
		var tpowp=0;
		console.log(fid);
		{%for fixture in allfixtures%}
			//console.log("{{fixture.teamA}}");
			if ("{{fixture.fixtureid}}" == fid)
			{
				teamA=String("{{fixture.teamA}}");
				teamB=String("{{fixture.teamB}}");
			}
		{%endfor%}
		console.log(String(teamA));
		console.log(String(teamB));		
		$( "div#"+fid+" tr.clickablepl" ).each(function( i ) {
				if($(this).attr("style")=="background:white;")
				{
					//console.log($(this).children("td.c2").html().trim());
					totalprice+=parseInt($(this).children("td.c3").text());
					if($(this).children("td.c4").text()=="bowl")
						totalbowl+=1;
					if($(this).children("td.c4").text()=="bat")
						totalbat+=1;
					if($(this).children("td.c4").text()=="wk")
						totalwk+=1;
					if($(this).children("td.c4").text()=="allround")
						totalallround+=1;
					if($(this).children("td.c5").attr("style")==("background:green;"))
						tpowp+=1;
					if($(this).children("td.c2").html().trim()==String(teamA))
						Acount+=1;
					if($(this).children("td.c2").html().trim()==String(teamB))
						{Bcount+=1;
						//console.log("ddd");
						}
				}
				
				//do the checking
				
				if(Acount>6 || Bcount>6)
					$("p#fixterror1").attr("style","color:red");
				else
					$("p#fixterror1").attr("style","color:black");
					//"Maximum players from a single team exceeded!"
				
				if(totalwk != 1)
					$("p#fixterror2").attr("style","color:red");
				else
					$("p#fixterror2").attr("style","color:black");
				// "You must keep only one wicketkeeper!"		
				
				if(totalbat<4)
					$("p#fixterror3").attr("style","color:red");
				else
					$("p#fixterror3").attr("style","color:black");
				// "Batsmen insufficient!"
				
				
				if(totalbowl<2)
					$("p#fixterror4").attr("style","color:red");
				else
					$("p#fixterror4").attr("style","color:black");
				// "Bowlers insufficient!"
				
				
				if(totalallround<2)
					$("p#fixterror5").attr("style","color:red");
				else
					$("p#fixterror5").attr("style","color:black");				
				// "Allrounders insufficient!"
				
				
				if(tpowp != 1)
					$("p#fixterror6").attr("style","color:red");
				else
					$("p#fixterror6").attr("style","color:black");				
				//"Power player missing"
				
				
				if(totalprice>800)
					$("p#fixterror7").attr("style","color:red");
				else
					$("p#fixterror7").attr("style","color:black");
				//"Total Budget Exceeded!"
				var moneyleft = 800-totalprice;
				if(moneyleft<0)
				moneyleft=0;
				$("p#fixterror8").html("Total money left: "+moneyleft);
		});
		return false;
	});

	//function for locktheteam
	$("button.lockteam").click(function(){
		var messg="";
		
		//finding the fixture to which it corresponds 
		fid=$(this).parents('div.fixturecontent').attr("id");
		$( "div#"+fid+" tr.clickablepl" ).each(function( i ) {
				if($(this).attr("style")=="background:white;")
				{
					var tmp=$(this).attr("id");
					messg=messg+tmp+",";
				}
		});
		
	
		var tpowerpid=""
		console.log(tpowerpid);



		//finding the powerplayer for the fixture, and the team chosen
		$("td.powerornot").each(function(){
				if($(this).attr("style")=="background:green;")
				{
					if($(this).parents('div.fixturecontent').attr("id")==fid)
					{
						console.log($(this).parents('div.fixturecontent').attr("id"));
						tpowerpid=$(this).parent('tr.clickablepl').attr("id");
					}
				}
		});
		console.log(messg,tpowerpid);
			$.ajax({
				url : "/dummylocktheteam",
				type : "POST",
				dataType: "json",
				data : {
						csrfmiddlewaretoken: '{{ csrf_token }}',
						fixtureid:fid,
						teamconfig : messg,
						powerpid:tpowerpid,
						teamname : $("input.teamname").val()
						},
				success : function(hill) {
					console.log(hill.server_response);
					if(hill.server_response=="yes")
					{
						alert("Congratulations! Your Team has been registered for the fixture");
						location.href="/qwe";
					}
					else
					{
						console.log(hill.server_message);
						$("#fixterror").html(hill.server_message);
					}
				},
				error : function(xhr,errmsg,err) {
				alert(xhr.status + ": " + xhr.responseText);
				}
			});
			return false;
		});

		
		//function for powerplayer clicking
		$("td.powerornot").click(function(){
		
			if($(this).parent("tr").hasClass("clickablepl"))
			{
				$("tr.clickablepl td.powerornot").each(function(){	
				if($(this).attr("style")==("background:green;"))
					{
						$(this).attr("style","background:white;");}
				});
				if($(this).parent("tr.clickablepl").attr("style")=="background:white;")
				{
		
					if($(this).attr("style")=="background:green;")
					$(this).attr("style","background:;");
					else
					$(this).attr("style","background:green;");
				}
				else
				{
					$(this).parent("tr.clickablepl").attr("style","background:white;");
					$(this).attr("style","background:green;");
				}
			}
			return false;
		});

});
</script>




</head>

<div>
	<table>
	<tr>
	<td><img src="{% static 'myregister/images/fpl.png' %}" style="margin-bottom:0px;"></td>
	<td style="font-size:18px;">Welcomes you, {{ username }}</td>
	<td class="fr">{% csrf_token %}<button id="logoutbtn" class="submitbutton"  type="button">Log out</button>
</td>
	</tr>
	</table>
	
</div>
<body>

<div id='cssmenu' class="sticky">
<ul>
   <li id="A" class='has-sub active tab'><a href='#'><span>Fixtures</span></a>
	  <ul class="bg">
		{% for fixture,b,c in fixnteamsnpow %}
		    <li class='last fixture' class="bg" id={{fixture.id}} >{#this is why i have to use pid,fid n stuff..#}
				    <a href='#' class="bg">
					    <span> {{fixture.teamA}} vs {{fixture.teamB}} on {{fixture.date}}</span>
				    </a>
		    </li>
		{% endfor %}
      </ul>
   </li>
   
   <li id="B" class='last tab'><a href='#'><span>User Standings</span></a></li>
   <li id="C" class='last tab'><a href='#'><span>Ongoing Matches</span></a></li>
   <li id="D" class='last tab'><a href='#'><span>Player Watch</span></a></li>
   <li id="E" class='last tab'><a href='#'><span>Rules</span></a></li>
</ul>
</div>

<div id="content">{#This is for the main container for tabwise contents#}
	<div id="contentA" class="tabcontent">
		
		{% for fixture,team_list,teampowerpid in fixnteamsnpow %}
		<div class="fixturecontent" id={{fixture.fixtureid}}>
			{% if fixture.isactive %}			
			  <p class="fixturelabel">Fixture: {{fixture.teamA}} vs {{fixture.teamB}} on {{fixture.date}}</p>
			  <hr id="fxtr_hr"></hr>
				{%if not team_list and not fixture.isover %}
				<div class="rules">
					<h2>Rules</h2>
					<p id="fixterror" style="width:1000px;"></p>
					<p id="fixterror1" style="color:yellow;width:1000px;">Maximum players from a single team can't exceed 6</p>
					<p id="fixterror2" style="width:1000px;color:yellow;">You must have only one wicketkeeper</p>
					<p id="fixterror3" style="width:1000px;color:yellow;">Batsmen must be atleast 4 in number</p>
					<p id="fixterror4" style="width:1000px;color:yellow;">Bowlers must be atleast 2 in number</p>
					<p id="fixterror5" style="width:1000px;color:yellow;">Allrounders must be atleast 2 in number</p>
					<p id="fixterror6" style="width:1000px;color:yellow;">There must be exactly one power player</p>
					<p id="fixterror7" style="width:1000px;color:yellow;">Total budget must not exceed 800</p>
					<p id="fixterror8" style="width:1000px;color:yellow;">Total money left: 800</p>
							
				</div>
					{% csrf_token %}					
					<input class="teamname" placeholder="Enter Your team name"></input>
					<button class="lockteam submitbutton">Lock the team</button>

				{%endif%}
					<table class="allplayer" {% if fixture.isover and not team_list %}style="display:none;"{% endif %} >	
						<tr id="tableheader" }>
							<td >  Name  </td>
							<td >  Country  </td>
							<td >  Price  </td>
							<!--td>  Points So Far!  </td-->
							<td >  Role  </td>
							<td >  Power or not  </td>
						
						</tr>
						{% if team_list %}
							<div><p>You locked your team!</p></div>
							{% for player in team_list %}				
							<tr>
								<td >{{player.firstname}} {{player.lastname}}</td>
								<td >{{player.country}}</td>
								<td >{{player.price}}</td>
								<!--td>  {{player.netperformance}}  </td!-->
								<td id={{player.role}}>{{player.role}}</td>
								{% if player.playerid == teampowerpid %}
								<td class="powerornot" style="background:green;">        p</td>
								{% else %}
								<td class="powerornot" style="background:;">        p</td>		
								{% endif %}
							</tr>
							{% endfor %}
							{% if fixture.isover %}
							    {%for result in myresults%}
								{%if result.fixtureid == fixture.fixtureid%}
								  <p>Your team scored {{result.score}} freepl points.</p>
								{%endif%}
							    {%endfor%}
							{% endif %}
						{% else %}
							{% if fixture.isover %}
								<p>Sorry but the fixture is over, and you did not make any team</p>
							{% else %}
								{#<p>Following is a list of available players!</p>#}
								{% for player in playerlist %}
									{% if fixture.teamA == player.country or fixture.teamB == player.country %}				
										<tr class="clickablepl" id={{player.playerid}} style="background:;" >
											<td class="c1">  {{player.firstname}} {{player.lastname}}  </td>
											<td class="c2">  {{player.country}}  </td>
											<td class="c3">  {{player.price}}  </td>
											<!--td>  {{player.netperformance}}  </td-->
											<td class="c4" id={{player.role}}>{{player.role}}</td>
											<td class="powerornot c5">           </td>
										</tr>
									{% endif %}
								{% endfor %}	
							</table>

							{%endif %}
						{% endif %}
					{% if fixture.isover %}
							<table class="allteams">
									<tr id="tbheader_allteams">
										<td>Team names</td>
										<td> Score </td>
									</tr>
								{% for obj in fixtureresults %}
									{% if obj.fixtureid == fixture.fixtureid %}
									
									<tr>
										<td>{{obj.teamname}}</td>
										<td>{{obj.score}}</td>
									</tr>
									{% endif %}
								{% endfor %}
							</table>
					{% endif %}			
			{%else%}{#fixture is not active#}
				<p>You can lock your team 24 hours before the match.</p>
			{%endif%}
			</div>
		{%endfor%}

		
	</div>
	
	<div id="contentB" class="tabcontent">
		<table class="userstandings">
			{% for user in cumusers %}
				<tr>
					<td>{{user.username}}</td>
					<td>{{user.cumulativescore}}</td>
				</tr>
			{% endfor %}
		</table>
	<p>Ispum B.</p>
	</div>
	
	<div id="contentC" class="tabcontent">
		<table class="ongoingmatches">
			{% for fixture,b,c in fixnteamsnpow %}
				{% if fixture.isactive and not fixture.isover %}
				<tr>
					<td>{{fixture.teamA}} vs {{fixture.teamB}}</td>
					<td>{{fixture.date}}</td>
				</tr>
				{% endif %}
			{% endfor %}
		</table>
	<p>Ispum C.</p>
	</div>
	
	<div id="contentD" class="tabcontent">
		Page under construction. 
	<p>Ispum D.</p>
	</div>

	<div id="contentE" class="tabcontent">
		<p>TEAM SELECTION</p>

BALANCE
Batsmen:		At least 4
All-Rounders:		At least 2
Wicket Keeper:		Exactly 1
Bowlers:		At least 2
Make one player of you’re the powerplayer
TEAM SPREAD
You can pick a maximum of 6 players from a single Team.

SCORING

BATTING POINTS
Base Score:		1 point per run.
Impact Score:		2 points per six, -5 for a duck.
Milestone Bonus:		10 points for every 25 runs scored.
Pace Bonus:		Runs Scored – Balls faced.
BOWLING POINTS
Base Score:		20 points per wicket.
Impact Score:		1 point per dot ball, 20 points for a maiden over.
Milestone Bonus:		10 points for the 2nd wicket, 10 points for each subsequent wicket.
Pace Bonus:		1.5 x Balls – Runs conceded. If it is positive, it is doubled.
FIELDING POINTS
Catch:		10 points.
Stumping:	15 points.
Run Out:	10 points for each player involved.
BONUS POINTS
 Player of the Match:	25 points.
The points of your power player gets doubled.
	<p>Ispum E.</p>
	</div>

</div>

</html>
