<div class = "alert alert-success successdiv pull-center">
</div>
<div class = "alert alert-error errordiv pull-center">
</div>
<div class = "loading pull-center">
	<img src = "img/ajax-loader.gif"/>
</div>
