<!DOCTYPE html>
<head>
	{% set fixtures = true %}
	<title>Dashboard</title>
	{% include 'headsection.twig' %}
	{% include 'analytics.twig' %}
</head>
<body>
	<header>
		{% include 'navbar.twig' %}
	</header>
	<section class = "content">
		<div class = "container">
			<div class = "row">
				<div class = "span12 well">
				<h1 class = "pull-center">Fixtures for this year's FreePL</h1>
					<table class = "table table-hover">
						<tr>
							<th>Sl No.</th>
							<th>Teams</th>
							<th>Date</th>
							<th>Time</th>
							<th>Game Format</th>
						</tr>
						<tr>
						<td>1</td>
							<td>South Africa vs. New Zealand</td>
							<td>25th January 2013</td>
							<td>6:30pm (IST) </td>
							<td>ODI</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Australia vs. Sri Lanka</td>
							<td>26th January 2013</td>
							<td>2:05pm (IST)</td>
							<td>T20</td>
						</tr>
						<tr>
							<td>3</td>
							<td>India vs. England</td>
							<td>27th January 2013</td>
							<td>09:00am (IST)</td>
							<td>ODI</td>
						</tr>
						
						<tr>
							<td>4</td>
							<td>Australia vs. Sri Lanka</td>
							<td>28th January 2013</td>
							<td>14:05am (IST)</td>
							<td>ODI</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Australia vs. West Indies</td>
							<td>1st February 2013</td>
							<td>08:50am (IST)</td>
							<td>ODI</td>
						</tr>
						
					</table>
				</div>
			</div>
		</div>
	</section>
	
</body>
</html>