<div class="navbar navbar-fixed-top" id = "loggedNavbar">
	<div class = "navbar-inner">
		<a href = "index.php" class = "brand" style = "font-size:25px;">FreePL</a>
		<ul class = "nav">
			<li {% if dashboard is defined  %}  class = "active"  {% endif %}><a href = "dashboard.php">Dashboard</a></li>
			<li {% if fixtures is defined  %}  class = "active"  {% endif %}><a href = "fixtures.php">Fixtures</a></li>
		    <li {% if performances is defined  %}  class = "active"{% endif %}><a href="performances.php">Performances</a></li>
			<li {% if standings is defined  %}  class = "active" {% endif %}><a href = "standings.php">Standings</a></li>
			
		</ul>
		<ul class = "nav pull-right">
			<li {% if rules is defined  %}  class = "active" {% endif %}><a href="rules.php">Rules</a></li>
			<li class = "active"><a href = "http://mkti.in">Mukti</a>
			<li class = "dropdown">
				<a href = "#" id = "accountDropDown" role = "button" class = "dropdown-toggle header" data-toggle = "dropdown">
				{{ name }}<i class = "icon-caret-down"></i> 
				</a>	
				<ul class = "dropdown-menu" aria-labelledby="accountDropDown">
					<li><a href = "team.php"><i class = "icon-list"></i>My Team</a></li>
					<li><a href = "logout.php"><i class = "icon-signout"></i> Logout</a>
				</ul>
			</li>
			
		</ul>
	</div>
</div>