<!DOCTYPE html>
<head>
	<title>Reset Password</title>
	{% include 'headsection.twig' %}
	<style>
		.largecontent{
			margin-top:200px;
		}
	</style>
	{% include 'analytics.twig' %}
</head>

<body>
	<header>
		<div class = "navbar navbar-fixed-top" id = "landingNavbar">
			<div class = "navbar-inner">
				<div class = "container-fluid">
				<a href = "index.php" class = "brand" style = "font-size:30px;">FreePL</a>
				</div>
			</div>
		</div>
	</header>
	<section class = "largecontent">
		<div class = "container">
			<div class = "row">
				<div class = "span4 offset4 well">
					{% if passmatch is defined %}
						<div class = "alert alert-error pull-center">
							<p>Passwords do not match</p>
						</div>
					{% endif %}
					{% if update is defined %}
					<form id = "resetpasswordform" class = "pull-center" method = "POST">
						<label>Enter your new password:
						</label>
						<input type = "password" name = "newPassword" class = "span4">
						<label>Confirm your new password:</label>
						<input type = "password" name = "confirmPassword" class = "span4">
						<input type = "hidden" name = "email" value = "{{ email }}"/>
						<input type = "hidden" name = "hash" value = "{{ hash }}"/>
						<input type = "submit" class = "btn pull-right btn-primary"/>
					</form>
					{% elseif success is defined %}
						<h1>Password Successfully Reset</h1>
					{% endif  %}
					
				</div>
			</div>
		</div>
	</section>
</body>