<!DOCTYPE html>
<head>
	{% set rules = true %}
	<title>Rules</title>
	{% include 'headsection.twig' %}
	<style>
		.points{
			font-size:18px;
			margin-bottom:5px;
			
		}
	</style>
	{% include 'analytics.twig' %}
</head>
<body>
	<header>
		{% include 'navbar.twig' %}
	</header>
	<section class = "content">
		<div class = "container">
			<div class = "row">
				<div class = "span8 offset2 well section-header">
					<h1 class = "pull-center">Rules</h1>
				</div>
				<div class = "span8 offset2 well section">
					<h4>Welcome to FreePL. The online cricket simulator developed and maintained by
					GNU/Linux Users' Group NIT Durgapur. Have a real passion for the game of 22 yards?
					Then this is the place to be. You have the freedom to enjoy the liberties of selection
					previously grandted only to captains and selectors.
					</h4>
					<h4>While you are here it's worthwile to mention how exactly it works</h4>
					<ol>
						<li class = "points">Before a match you can select a team that you think would perform best.
						You have to select 11 players with no restrictions on minimum number of batsmen, 
						bowlers or wicket keepers in your squad.</li>
						<li class = "points">
						You have to select your team such that your <b>team budget does not exceed 1000</b>
						Choose carefully.
						</li>
						<li class = "points">
							Please note that your team for the a match would be locked at 11pm sharp the previous day
							unless explicitly informed on the website. After your team has been locked, any
							changes made will not reflect in your team for the next match.
						</li>
						<li class = "points">Your players score points based on their performance on a 
						particular day. The cumulative score of all your players is your team score.
						The one with the highest team score at the end of the tournament wins. 
						</li>
						<li class = "points">
						The scores are calculated as follows:
						<ul>
							<li>Batting: (No. of runs) * (No. of Runs/Balls Faced)</li>
							<li>For scoring a half century a player gets +10 score and for a century +15</li>
							<li>Bowling: (No. of wickets * 100)/economy rate.</li>
							<li>If economy rate is less than 1, it is rounded off to 1</li>
							<li>A +15 score is awared to a player if he gets a five wicket haul, a +1- for a 
							3 + wickets in a match</li>
							<li>Man of the match is awarded 50 points</li> 
							<li><b>Please note there are no points for any fielding dismissals like 
							catches or run outs</b></li>
						</ul>
						
						</li>
						<li class = "points">Please note that any decision taken by the maintainers of this event 
						are final and binding. Requests for change of any rules of the event shall not 
						be entertained.
						</li>
						
						<li class = "points">
						Feel free to get in touch with us:
						<ul>
							<li>Arjun Basu (arjunkbasu@gmail.com)</li>
							<li>Anuj (rockerboy.anuj@gmail.com)</li>
						</ul>
					</ol>
					
				</div>
			</div>
		</div>
	</section>