{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'freepl/css/style.css' %}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>FreePL</title>
<script type='text/javascript' src="{% static 'freepl/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'freepl/js/start.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
		
		{% if alert == "activated" %}
			alert('Your User Profile has been activated, Please login to play the game.')
		{% endif %}
		//signup button 
		$("#signupbtn").click(function(){
					
					$('#signup').show();
					$('#signin').hide();			
					$("#signupnlog").click(function(){
					console.log("ok test!");
						$.ajax({
							url:"/dummyregister",
							type:'POST',
							dataType:'json',
							data:{
								username: $('#username1').val(),
								email: $('#useremail1').val(),
								phone: $('#phonenumber1').val(),
								passwordagain: $('#repeatpassword1').val(),
								password: $('#password1').val(),
								csrfmiddlewaretoken: '{{ csrf_token }}'
							},
							success : function(hill)
							{
								if(hill.server_response=="yes")
								{
									alert("Check your mail for activation link!")
									location.href="/";
								}
								else
								{
									$("#errormsg").text(hill.server_message);
								}
							},
							error : function(xhr,errmsg,err)
							{
								alert(xhr.status + ": " + xhr.responseText);
							}
						});
						return false;
					});
				return false;
			});
		
		//login button click function
		$("#loginbtn").click(function() {
			$.ajax({
					url : "/dummylogin",
					type : "POST",
					dataType: "json",
					data : {
						
					username : $("#username").val(),
					password : $("#password").val(),
					csrfmiddlewaretoken: '{{ csrf_token }}'
					},
					success : function(hill) 
					{
						console.log(hill.server_response);
						if(hill.server_response=="yes")
						{
							console.log(hill.server_response);
							location.href="/";
						}
						else
						{
							console.log(hill.server_response);
							$("#errormsg").text("Invalid Login Credentials!");
						}
					//$('#result').append( 'Server Response: ' + hill.server_response);
					//var form=$('#limit').val('My Submit');
					},
					error : function(xhr,errmsg,err)
					{
						alert(xhr.status + ": " + xhr.responseText);
					}
				});
			return false;
			});
});
</script>
</head>
<body>
<div class="container">
	<div id="content">
    
		<div class="post">
        	<div class="btn-sign">
				<a href="#login-box" class="login-window">Let the Game Begin!</a>
        	</div>
		</div>
        
       <div id="login-box" class="login-popup">

          
          <form id="signin" method="post" class="popupform" >
	     {% csrf_token %}
             <fieldset class="textbox">
                <input class="textbox" id="username" name="username" value="" type="text" autocomplete="on" placeholder="User Handle">
                <input class="textbox" id="password" name="password" value="" type="password" placeholder="Password">
		<button id="loginbtn" class=" submitbutton" type="button">Log In</button></td>
		<button id="signupbtn" class=" submitbutton" type="button">New User ?</button>
                <p><a class="forgot" href="#">Forgot your password?</a></p>
              </fieldset>
	</form>
	
	 <form id="signup" method="post" class="popupform" action="#">
                {% csrf_token %}
             <fieldset class="textbox">
                <input class="textbox" id="username1" name="username1" value="" type="text" autocomplete="on" placeholder="User Handle">
                <input class="textbox" id="useremail1" name="useremail1" value="" type="text" autocomplete="on" placeholder="Your Email">
                <input class="textbox" id="phonenumber1" name="phonenumber1" value="" type="text" autocomplete="on" placeholder="Your Mobile Number">
                <input class="textbox" id="password1" name="password1" value="" type="password" placeholder="Password">
                <input class="textbox" id="repeatpassword1" name="repeatpassword1" value="" type="password" placeholder="Confirm Password">
		<button id="signupnlog" class="submitbutton" type="button">Register me!</button>
             </fieldset>
          </form>
		  <div id="errormsg"></div>
	</div>
		<div id="signup-box">
            	
	</div>

</body>
</html>
